<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>763248934081-k4a13pdl07k9agq3hkl07ebf9rn6eec4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.763248934081-k4a13pdl07k9agq3hkl07ebf9rn6eec4</string>
	<key>API_KEY</key>
	<string>AIzaSyBsfZF6dsGsliqXvK-O13mI90M4TMzDJuI</string>
	<key>GCM_SENDER_ID</key>
	<string>763248934081</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterAppAuthP3</string>
	<key>PROJECT_ID</key>
	<string>auth-gsg-p3</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-gsg-p3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:763248934081:ios:1400fe0fb4ec4f75486840</string>
</dict>
</plist>